**/node_modules/
/fs/
/packages/backend/**/*.js
/packages/backend/**/*.js.map
/applications/**/*.js
/applications/**/*.js.map
/packages/shared/**/*.js
/packages/shared/**/*.js.map
/.idea/webServers.xml
/.idea/deployment.xml
/bun.lockb
.turbo
/.idea/csv-editor.xml
/.idea/csv-plugin.xml
/packages/backend/.env
/packages/uikit/dist/

.nx/cache
.nx/workspace-data
.idea/dataSources
.idea/dataSources.local.xml
.idea/dataSources.xml