@use "@yourdash/uikit/themeValues.scss" as *;

.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: $UKPadding;
  padding-right: $UKPadding;
  max-width: 96rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: $UKGap;

  .image {
    height: 8rem;
  }

  .label {
    font-size: 2rem;
    font-weight: 700;
  }

  .description {
  }
}
