name: Test Build

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [latest]

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.0.11 # or "latest"

      - name: Install dependencies
        run: npx yarn

      - name: Build website
        run: (npx yarn run build)