@use "@yourdash/uikit/themeValues.scss" as *;

.card {
  display: flex;
  flex-direction: row;
}

.settingId {
  margin-top: calc($UKPadding * -1);
  opacity: 0.75;
}

.heading {
  text-align: start;
  padding-bottom: 0.5rem;
}