@use "@yourdash/uikit/themeValues.scss" as *;

.content {
  text-align: start;
  align-items: start;
  margin-left: auto;
  margin-right: auto;
  padding-left: $UKPadding;
  padding-right: $UKPadding;
  max-width: 96rem;
}